%h2 Class07 Homework Questions

%ul
  %li
    What is Seaborn?

  %li
    Why use Seaborn?
  %li
    The syntax below does what?
    .syntax
      %pre
        %code.python numpy.linspace(0, 14, 100)
  %li
    Why might the above syntax be useful?
  %li
    What is a common alias for matplotlib.pyplot?

  %li
    When I call numpy.sin(x), what is the assumed unit-of-measure of x?
  %li
    The syntax below does what?
    .syntax
      %pre
        %code.python np.random.normal(size=(20, 6))
  %li
    Why might the above syntax be useful?
  %li
    The syntax below creates what?
    .syntax
      %pre
        %code.python np.arange(6)
  %li
    What is an alternative way to create the same object?
    
