%h1 Class01
%p
  In Class01 we meet each other and get acquainted with Python.

%h2 Book:
%p
  %a(href='https://www.amazon.com/Quick-Python-Book-Second/dp/193518220X' target='x')
    https://www.amazon.com/Quick-Python-Book-Second/dp/193518220X

%h2 Objectives:
%img(src='/images/pysched.png')

%h2 Slides:
%ul
  %li
    %a(href='/Week1.pptx') Week1.pptx
  %li
    %a(href='/Week2.pptx') Week2.pptx
  %li
    %a(href='/Week3.pptx') Week3.pptx

%h2#p1 Lab Problems:
%ul
  %li Install Anaconda Python on Linux
  %li
    %a(href='/cclasses/class01ana1') Answer
  %li Install Anaconda Python on Mac
  %li Install Anaconda Python on Windows
  %li Download S&P 500 Prices from Yahoo
  %li
    %a(href='/cclasses/class01y1') Answer
  %li Plot S&P 500 Prices For 2016-11
  %li
    %a(href='/cclasses/class01ply1') Answer
  