%h1 Class07
%p
  In Class07 we work with Seaborn:
  
%p
  %a(href='https://seaborn.pydata.org/examples/index.html' target='x')
    https://seaborn.pydata.org/examples/index.html

%p This class is under construction.
%p More content coming 2017-02-18.
