%h1 Class10
%p
  In Class10 we work with the Requests package:
%p
  %a(href='http://docs.python-requests.org/en/latest/index.html' target='x')
    http://docs.python-requests.org/en/latest/index.html
  