%h1 Class03
%p
  In Class03 we work with Flask.

%h2#q1 Questions:

%ul
  %li What is Flask?
  
%h2#labpk Lab Packages in the Lab Problems:

%p  
  %a(href='http://www.google.com/search?q=python+flask' target='x')
    google.com/search?q=python+flask

%h2#p1 Lab Problems:
%ul
  %li See if you have Anaconda installed in your Dev-Env
  %li See if you have Flask installed in your Anaconda Env
  %li 
  %li 