%h2 Class01 Answer:
%p Which code-UI works best?
%ul
  %li vim?
  %li Emacs?
  %li gedit?
  %li Jupyter?
  %li PyCharm?
  %li Spyder?
  %li Sublime Text 2?
      

%p For me, the best code-UI is Emacs.

%p On Ubuntu, Emacs is easy to install with one shell command:
.syntax
  %pre
    %code.bash sudo apt-get install emacs
%p After you install Emacs, it is easy to learn.
%p You just type emacs at a shell prompt.
%p An Emacs window should come up.
%p Just click the Help link and then walk through all the steps in the built-in tutorial.
%p The features I mostly use in Emacs are listed below:
%ul
  %li Open new or existing file
  
%p
  %a(href='class01#q1')
    Class01 Questions

