%h2 Class08 Answer:
%h2 Study syntax in the script.
%p I found a listing of the syntax at this URL:
%p
  %a(href='https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/word2vec/word2vec_basic.py' target='x')
    https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/word2vec/word2vec_basic.py

%p As of today, 2017-07-23, the above script is 263 lines long.
%p I consider it readable and easy to understand.

%p Near the top of the script I see this syntax:

.syntax
  %pre
    %code.python
      from __future__ import absolute_import
      from __future__ import division
      from __future__ import print_function

%p The above syntax is an attempt to make the script runnable from both Python2 and Python3.

%p
  %a(href='https://www.google.com/search?q=In+python+what+does+dunder+future+do?' target='x')
    https://www.google.com/search?q=In+python+what+does+dunder+future+do?

%p Next, I see some common imports:

.syntax
  %pre
    %code.python
      import collections
      import math
      import os
      import random
      import zipfile
      import numpy as np

%p Syntax which uses the collections-package appears twice, later in the script.

%p A URL to information about the collections-package is listed below:

%p
  %a(href='https://docs.python.org/3/library/collections.html' target='x')
    https://docs.python.org/3/library/collections.html
%p The collections-package gives me the collections.Counter() method.

%p I can use collections.Counter() to look for groups of numbers in a list.

%p For each group it finds, it will measure the group size.

%p I list a demo below:

.syntax
  %pre
    %code.python
      dan@a78:~/py4 $ python
      Python 3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:09:58) 
      [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
      Type "help", "copyright", "credits" or "license" for more information.
      >>> import collections
      >>> collections.Counter([1,1,1,2,2,3])
      Counter({1: 3, 2: 2, 3: 1})
      >>> 

%p I can use collections.deque() to implement a queue:

.syntax
  %pre
    %code.python
      >>> my_q = collections.deque(maxlen=9)
      >>> my_q.extend([0])
      >>> my_q
      deque([0], maxlen=9)
      >>> my_q.extend([0,1])
      >>> my_q
      deque([0, 0, 1], maxlen=9)
      >>> my_q.extend([0,1,2])
      >>> my_q
      deque([0, 0, 1, 0, 1, 2], maxlen=9)
      >>> my_q.append(55)
      >>> my_q
      deque([0, 0, 1, 0, 1, 2, 55], maxlen=9)
      >>> my_q.appendleft(66)
      >>> my_q
      deque([66, 0, 0, 1, 0, 1, 2, 55], maxlen=9)
      >>> my_q.pop()
      55
      >>> my_q
      deque([66, 0, 0, 1, 0, 1, 2], maxlen=9)
      >>> my_q.popleft()
      66
      >>> my_q
      deque([0, 0, 1, 0, 1, 2], maxlen=9)
      >>> 

%hr/
%p
  %a(href='class08#lab')
    Class08
