%h2 Class01 Answer:
%h2 Study PyCharm

%p I started my study of PyCharm by downloading and installing it:

.syntax
  %pre
    =render 'class01pyc0a'

%p I saw this:

%img(src='/class01/pyc1.png')

%br/
%br/
%br/

%p Then I saw PyCharm eat all available CPU on my laptop:

%img(src='/class01/pyc2.png')
%br/
%br/
%br/

%p I assume it was indexing my copy of Python so it could deliver code completion:

%p
  %a(href='http://www.google.com/search?q=why+does+pycharm+consume+CPU' target='x')
    http://www.google.com/search?q=why+does+pycharm+consume+CPU

%p After 5 minutes PyCharm stopped hogging the CPU.

%p I clicked the Help-tab:

%img(src='/class01/pyc3.png')
%br/
%br/
%br/

%p I studied the Getting-Started link and watched the first video:

%img(src='/class01/pyc4.png')
%br/
%br/
%br/

%p I created a simple Python script and ran it via the Run-tab at the top:

%img(src='/class01/pyc5.png')
%br/
%br/
%br/

%img(src='/class01/pyc6.png')
%br/
%br/
%br/

%img(src='/class01/pyc7.png')
%br/
%br/
%br/

%p The above output convinced me that I had installed PyCharm and it was working well.

%p The next step I should follow would be to walk through the tutorials at this site:
%p
  %a(href='https://www.jetbrains.com/pycharm/documentation/' target='x')
    https://www.jetbrains.com/pycharm/documentation/

%p
  %a(href='class01#p1')
    Class01 Lab

