%h2 Class07 Homework Questions

%ul
  %li
    What is Seaborn?

  %li
    Why use Seaborn?
  %li
    The syntax below does what?
    .syntax
      %pre
        %code.python numpy.linspace(0, 14, 100)
  %li
    Why might the above syntax be useful?
    