%h1 Class02
%p
  In Class02 we work with Python Lists.

%h2#q1 Questions:

%ul
  %li What is a Python List?
  %li What are some obvious ways to create a List?
  %li What are some common List operations?
  %li What other Data Types are similar to a List?
  
%h2#labpk Lab Packages in the Lab Problems:

%p
  %a(href='http://www.google.com/search?q=python+pdb' target='x')
    google.com/search?q=python+pdb
%p
  %a(href='http://www.google.com/search?q=python+datetime' target='x')
    google.com/search?q=python+datetime
%p  
  %a(href='http://www.google.com/search?q=python+matplotlib' target='x')
    google.com/search?q=python+matplotlib

%h2#p1 Lab Problems (Easy):
%ul
  %li Memorize verbs from this acronym: CCLUD
  %li Answer: Create, Copy, List, Update, Delete
  %li This lab should apply CCLUD verbs to Python Lists
  %li Create a list of 2016-11 IBM prices
  %li
    %a(href='/cclasses/class02ibm1') Answer
  %li Create a list of dates of those prices
  %li
    %a(href='/cclasses/class02ibm2') Answer
  %li Create plot of the prices
  %li
    %a(href='/cclasses/class02ibm3') Answer
  %li Copy the list of prices
  %li
    %a(href='/cclasses/class02ibm4') Answer
  %li List the first 4 prices
  %li
    %a(href='/cclasses/class02ibm5') Answer
  %li Update the first 4 prices, Set them to 0.1
  %li
    %a(href='/cclasses/class02ibm6') Answer
  %li Delete the last price
  %li
    %a(href='/cclasses/class02ibm7') Answer
  %li To undo the Delete, call: append()
  %li
    %a(href='/cclasses/class02ibm9') Answer
  %li Delete the list of prices
  %li
    %a(href='/cclasses/class02ibm8') Answer

%h2#p2 Lab Problems (More Difficult):
%ul
  %li Create lists of 2016-11 FB prices and dates
  %li
    %a(href='/cclasses/class02fb10') Answer
  %li Drive a For-Loop using the price-list
  %li
    %a(href='/cclasses/class02fb11') Answer
  %li Use a For-Loop to sort the prices for plotting
  %li
    %a(href='/cclasses/class02fb12') Answer
  %li Use a For-Loop to sort the dates for plotting
  %li
    %a(href='/cclasses/class02fb13') Answer
  %li Plot FB prices vs dates
  %li
    %a(href='/cclasses/class02fb14') Answer
  %li Compare a Python Comprehension to a For-Loop
  %li
    %a(href='/cclasses/class02co1') Answer
  %li Plot FB prices vs dates via Comprehensions
  %li
    %a(href='/cclasses/class02fb15') Answer
  