%h1 Class06
%p
  In Class06 we work with Bokeh:
%p
  %a(href='http://bokeh.pydata.org/en/latest/docs/gallery.html  ' target='x')
    http://bokeh.pydata.org/en/latest/docs/gallery.html
  

%h2#q1 Questions:

%p What is Bokeh?
%p How to use Bokeh?
%p Why use Bokeh?
%p Alternatives to Bokeh?

%hr/

%h2#qs Lab (Quickstart):

%p
  I started this effort by studying many pages I found under this URL:
%p
  %a(href='http://bokeh.pydata.org' target='x')
    http://bokeh.pydata.org
%p I decided that this page is the best place for a Bokeh-Beginner:
%p
  %a(href='http://bokeh.pydata.org/en/latest/docs/user_guide/quickstart.html' target='x')
    http://bokeh.pydata.org/en/latest/docs/user_guide/quickstart.html
%p I like to do my development in an account named ann on on an Ubuntu 16 host.
%p If you want to do it my way, you can find a suitable VirtualBox OVA file at the URL listed below:
%p
  %a(href='https://drive.google.com/open?id=0Bx3iDDAtxxI4WkttQl84UTN4bVk' target='x')
    https://drive.google.com/open?id=0Bx3iDDAtxxI4WkttQl84UTN4bVk

