%h1 Class03
%p
  In Class03 we work with Flask.

%h2#q1 Questions:

%ul
  %li What is Flask?
  
%h2#labpk Lab Packages in the Lab Problems:

%p
  %a(href='https://docs.python.org/3/library/os.html' target='x')
    docs.python.org/3/library/os.html

%p  
  %a(href='http://www.google.com/search?q=python+flask' target='x')
    google.com/search?q=python+flask

%h2#fs Lab Problems (Flask-static):
%ul
  %li See if you have Anaconda installed in your Dev-Env
  %li See if you have Flask installed in your Anaconda Env
  %li Create a folder named "fl10" to hold a new Flask app
  %li In fl10,   create a folder named: "static"
  %li In static, create a file   named: "blog.html"
  %li In fl10,   create a python script named: "fl10.py"
  %li Put this syntax in it:
  %li
    .syntax
      %pre
        =render 'class03fl10a'
  %li Run the file
  %li Use a browser to study blog.html at the URL listed below:
  %li
    http://localhost:5000/static/blog.html
  %li Deploy fl10 to Heroku
  %li
    %a(href='/cclasses/class03her1') Answer
