%h1 Class01
%p
  In Class01 we meet each other and get acquainted with Python.

%h2#p1 Lab Problems:
%ul
  %li Install Anaconda Python on Linux
  %li
    %a(href='/cclasses/class01ana1') Answer
  %li Install Anaconda Python on Mac
  %li Install Anaconda Python on Windows
  %li Download S&P 500 Prices from Yahoo
  