%h2 Class09 Answer:
%h2 
  Deploy
  %a(href='https://github.com/danbikle/dj101' target='x')
    https://github.com/danbikle/dj101
  to a Linux-VirtualBox
     	
%p I did this lab on my laptop.

%p I started by installing VirtualBox on my laptop.

%p Then, I downloaded a 10GB file: ub16jul21.ova

%p
  %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4MmNNLXM4RTZvYTA' target='x')
    https://drive.google.com/file/d/0Bx3iDDAtxxI4MmNNLXM4RTZvYTA
    
%p I installed the above file into VirtualBox by clicking on it.

%p After I booted the resulting host, I saw a login screen.

%p I authenticated with this:

%p User: ann, Password: a

%p Then, I issued some shell commands:

.syntax
  %pre
    =render 'class09dj101b'


%p
  %a(href='class09') Class09
