%h2 Homework Questions

%ul
  %li

Why do you want to learn Python?

How to describe Top-Down learning?

How to describe Bottom-Up learning?

Should a Project-Based Python Programming class mostly use Top-Down learning?

What is a Python Package?

Which Python Packages interest you the most and why?

Where is a good list of Python Package descriptions?

What is a good way for two developers to work on shared software?

How do you describe your training environment?

Is your training environment optimal for learning Project-Based Python Programming?

Is your training environment optimal for working on shared software with other students?

How to run a Python script from a Linux shell prompt?

What is Anaconda Python?

Describe how to install Anaconda Python into your training environment?

Which editor should you use to write Python?

Why did you chose your editor?

Which Python editors do you want to learn more about?

What is VirtualBox?

Why is VirtualBox useful?

What are common obstacles of VirtualBox?

If you like VirtualBox and find it useful, what are some alternatives to VirtualBox?

When you write Python software, how will you backup your work?

How to use Python to download IBM prices from Google?

How to use Python to download IBM prices from Yahoo?

What is Pandas?

What is pandas-datareader?

What is datetime?

How to convert a tuple of integers into a datetime object?

How to convert a string into a datetime object?

What is pdb?

How to create a CSV file from a Pandas DataFrame?

How to see the last five rows of a Pandas DataFrame?

Inside the Python Debugger, what are your 4 favorite commands?

What is confusing about the Python Debugger?

What is easy about the Python Debugger?

What is matplotlib?

What is a Pandas Series?

With Pandas, is a Series inside a DataFrame or is a DataFrame inside a Series?

How to create a Series full of Booleans?

Why is a Series full of Booleans useful?

How to get a list of columns from a DataFrame?

How to create a copy of a DataFrame?

Does a DataFrame have an object called an index?

If yes, how to see the index?

What are two ways to concatenate three strings?

Which way is slow and which way is fast?

How is datetime.strptime() different than datetime.strftime()?

After you do this homework, what would be a simple Python-Project you could do in 90 minutes?

After you do that project, how would you share it with your fellow students?
