%h2 Class08 Answer:
%h2 Install Anaconda 4.4.0
%p This is easy:
.syntax
  %pre
    %code.bash
      wget https://repo.continuum.io/archive/Anaconda3-4.4.0-Linux-x86_64.sh
      bash Anaconda3-4.4.0-Linux-x86_64.sh
%p
  %a(href='class08')
    Class08
