%h2 Class09 Answer:
%h2 In Django, what does this syntax do:

.syntax
  %pre
    %code {% include "contact/coc_form.html" %}

%p I found the above syntax in this file:
%p
  %a(href='https://github.com/django/djangoproject.com/blob/master/djangoproject/templates/contact/coc.html' target='x')
    https://github.com/django/djangoproject.com/blob/master/djangoproject/templates/contact/coc.html

%p I use that syntax to copy HTML from contact/coc_form.html to the location of the declaration.

%p
  %a(href='class09')
    Class09
