%h2 Class09 Answer:
%h2 In Django, what does this file do:
%p
  %a(href='https://github.com/django/djangoproject.com/blob/master/contact/urls.py' target='x')
    https://github.com/django/djangoproject.com/blob/master/contact/urls.py
    
%p The above syntax is a very simple example of Django routing.
	
%p Remember, routing is one of the main features of Django:
%p
  %a(href='class09mf') Django Main Features
%hr/

%p
  %a(href='class09') Class09

