%h1 Class05
%p
  In Class05 we work with SQLAlchemy, Keras, and Flask-RESTful

%h2#uc Use Cases: Time Series Prediction Recipes

%hr/

%h2#r1 Recipe 1: "Logistic Regression Predictions saved to Postgres"

%p Main idea:
%ul
  %li Ask end-user for stock symbol (ticker)
  %li Ask end-user for year count training size (default: 10)
  %li Ask end-user for feature names
  %li Calculate Logistic Regression Predictions for a series of years
  %li Save Predictions to Postgres DB
  %li Query Predictions from Postgres DB
  %li Report Accuracy of Predictions
  %li Report Effectiveness of Predictions

%p Ingredients:
%ul
  %li ub16feb2b.ova (Ubuntu 16.04 VirtualBox Instance 8.1 GB):
  %li
    %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4U3oycjR0RXpJblU' target='x')
      https://drive.google.com/file/d/0Bx3iDDAtxxI4U3oycjR0RXpJblU
  %li Linux Account: ann
  %li Postgres Database Instance
  %li Postgres Database Role: ann
  %li Postgres Database: ann
  %li A list of dates and prices (Default: S&P500, Yahoo might work)
  %li
    %a(href='http://ichart.finance.yahoo.com/table.csv?s=%5EGSPC' target='x')
      http://ichart.finance.yahoo.com/table.csv?s=%5EGSPC  
  
%p Expected Result:
%ul
  %li Ticker Accuracy Report
  %li Ticker Effectiveness Report

%p Steps of Script:
%ul
  %li Under Construction
  %li ETA: Saturday 2017-02-04

%p Pre-Lab Questions
%ul
  %li What is SQLAlchemy?
  %li What is Keras?
  %li What is Flask-RESTful?
  %li What is REST?
  %li Before I predict the stock market, how many years should I learn from?
  %li When I predict the stock market, what exactly should I predict?
  %li Given a series of prices, what might be predictive about them?
  %li Given a series of dates, what might be predictive about them?
  %li Besides dates and prices, what might be predicive of a ticker?
  %li With a JSON API how to help end-user select an option from choices?
  %li What is a URL-path-token?
  %li What is a URL-parameter?


%hr/
%h2#lab1 Lab 1 (Do at Home)

%ul
  %li Ensure that you have VirtualBox installed
  %li Download large file, ub16feb2b.ova, (Ubuntu 16.04 VirtualBox Instance 8.1 GB):
  %li
    %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4U3oycjR0RXpJblU' target='x')
      https://drive.google.com/file/d/0Bx3iDDAtxxI4U3oycjR0RXpJblU
  %li Import the file by clicking on it
  %li After import, find the new appliance in your VirtulBox GUI
  %li Start the appliance and login as ann, passwd: a
  %li After you login, start a shell
  %li Clone the keras10 repo with this shell syntax:
  %li
    .syntax
      %pre
        %code
          cd ~
          rm -rf keras10
          git clone https://github.com/danbikle/keras10
  %li Run the first demo with a simple shell command:
  %li
    .syntax
      %pre
        %code
          cd ~/keras10
          python import_keras10.py
  %li I did the above demo in my virtualbox and I saw this:
  %li
    .syntax
      %pre
        =render 'class05d1'
  %li Run the next demo with a simple shell command:
  %li
    .syntax
      %pre
        %code
          cd ~/keras10
          \./flask10.bash

  %li The above shell is running a webserver. You should leave it alone.
  %li I did the above demo in my virtualbox and I saw this:
  %li
    .syntax
      %pre
        =render 'class05d2'
  %li The next demo requires another shell. So, start another shell.
  %li Run the next demo with a simple shell command:
  %li
    .syntax
      %pre
        %code
          cd ~/keras10
          bash -x curlem.bash
  %li I did the above demo in my virtualbox and I saw this:
  %li
    .syntax
      %pre
        =render 'class05d3'
        
