%h1 About

%p I use this site to serve training content to students in my Python class.

%p A typical lesson starts with a problem which might be solved with a computer.

%p During the lesson I challenge you to solve the problem with a combination of English and Python.

%p Some lessons come with my solutions.

%p If your mind is similar to mine, you will discover that problems are easier to remember than syntax.

%p After you complete the lessons in this class, try to remember the problems and use them as a path towards your memory of Python syntax.

%p In addition to using problems to remember Python syntax, I use my memory of people.

%p A way I remember syntax to solve a problem is to ask for help.

%p When a person helps me solve the problem with syntax or ideas I can usually remember that event.

%p So, I suggest you use Python to solve problems and ask for help along the way.

%p Also, if you help others with ideas and syntax which you have mastered, then Python will more effectively attach to your memory.

%p
  %a(href='http://www.santaclaraadulted.org' target='x')
    http://www.santaclaraadulted.org

