%h1 About

%p I use this site to serve training content to students in my Python class.

%p This site assumes that you have some Python experience but not much.

%p If you have no Python experience but you are a diligent student, you could do well in this class.

%p The topics listed below should be studied before you attempt this class:

%ul
  %li Integer
  %li Float
  %li String
  %li Boolean
  %li List
  %li Dictionary
  %li DateTime
  %li For-loops
  %li If-else-examples
  %li Functions

%p In addition to the above topics, the diligent student needs to setup a Ubuntu 16 development/training environment.

%p I choose Ubuntu 16 because it can run on any laptop (in theory).

%p I cannot assume my students will be running windows or Mac.

%p It is not fair for me to dictate that a student run windows or Mac.

%p About half my students run windows and the others run Mac.

%p So, I ask that my students run Ubuntu 16 which runs well as a virtual machine inside of windows or Mac.

%p More details connected to setup of Ubuntu 16 development/training environment will be discussed in class01.

%p A typical lesson starts with a problem which might be solved with software.

%p During the lesson I challenge you to solve the problem with a combination of English and Python.

%p Some lessons come with my solutions.

%p If your mind is similar to mine, you will discover that problems are easier to remember than syntax.

%p After you complete the lessons in this class, try to remember the problems and use them as a path towards your memory of Python syntax.

%p In addition to using problems to remember Python syntax, I use my memories of people to help me remember Python.

%p
  For example if I want to display multiple time-series lines on a single plot, I remember that as a problem I encountered before.
  Also I remember my friend Bruce who showed me how to solve that problem with some concise syntax from Python packages Pandas and Matplotlib.

%p Even for the most trivial probelems, I ask for help.  Help from others is a powerful memory aid rather than a sign of laziness.

%p So, I suggest you use Python to solve problems and ask for help along the way.

%p Also, if you help others with ideas and syntax which you have mastered, then Python will more effectively attach to your memory.

%p
  %a(href='http://www.santaclaraadulted.org/Page/628' target='x')
    http://www.santaclaraadulted.org

